[submodule "todo-startpage"]
	path = Documents/todo-startpage
	url = https://github.com/mradigen/todo-startpage.git
[submodule "DiscordRPC"]
	path = Documents/DiscordRPC
	url = https://github.com/mradigen/discord-rpc-status.git
[submodule "scripts"]
	path = .local/bin
	url = https://github.com/mradigen/scripts.git
