[user]
	name = mradigen
	email = 55953083+mradigen@users.noreply.github.com
[init]
	defaultBranch = main
[credential]
	helper = store
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
