configuration {
	modi: "drun,clipboard:greenclip print,calc";
	theme: "nyt";
	font: "Iosevka 13";
	display-window: "window: ";
	display-windowcd: "windowcd: ";
	display-run: "run: ";
	display-ssh: "ssh: ";
	display-drun: "open: ";
	display-calc: "calc: ";
	display-clipboard: "clipboard: "; /* Not effective */
}