/**
 * @name Ultra
 * @version 1.0.7
 * @author TheCommieAxolotl#0001
 * @authorId 538487970408300544
 * @description A Smooth, Black theme
 * @source https://github.com/TheCommieAxolotl/BetterDiscord-Stuff/tree/main/Ultra
 * @website https://thecommieaxolotl.netlify.app/
 * @donate https://github.com/sponsors/thecommieaxolotl
 * @invite g2KnUw7u7N
*/

/* Imports */
@import url("https://discord-custom-covers.github.io/usrbg/dist/usrbg.css");
@import url("https://thecommieaxolotl.github.io/BetterDiscord-Stuff/Imports/Touchup.css");
@import url("https://thecommieaxolotl.github.io/BetterDiscord-Stuff/Imports/UserBadges.css");
@import url("https://maendisease.github.io/BetterDiscordStuff/css/bettterInvites.css");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;200;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source Code Pro:wght@550&display=swap");

/* Source */
@import url("https://thecommieaxolotl.github.io/BetterDiscord-Stuff/Ultra/Clients/betterdiscord.css");

.imageWrapper-oMkQl4 {
	border-radius: 3px;
}

.mainContent-20q_Hp:before {
    content: unset;
}

.mainContent-20q_Hp {
    transition: .2s;
}

.mentioned-Tre-dv {
    transition: .2s;
}

.mentioned-Tre-dv:hover {
    background-color: var(--brand-experiment);
    box-shadow: 0px 1px 5px 0px black;
    transform: scale(1.01) translateY(-2px);
}

.scrollableContainer-15eg7h {
    border-radius: 10px;
    min-height: 50px !important;
    transition: .2s;
}

.desaturateUserColors-1O-G89 {
    font-weight: 600;
}

.scrollableContainer-15eg7h:hover {
/*    box-shadow: var(--brand-experiment);*/
    box-shadow: 0px 1px 5px 0px var(--brand-experiment);
    transform: translateY(-2px);
}

.name-3Uvkvr {
    font-size: 11pt;
}

.interactive-26HRN_, .interactive-iyXY_x {
    transition: .2s;
}

.interactiveSelected-29CP8y, .selected-26oxtA {
    color: var(--background-primary);
}

:root,
.theme-dark {
	// Custom:
	--background-modifier-selected: #{$color5};

    --text-normal: #{$color7};
    --text-muted: #4a4a52;
    --text-link: #6e6af6;
    --text-positive: #50dc7d;
    --text-warning: #8d4949;
    --text-danger: #8d4949;
    --text-brand: #6e6af6;
    --interactive-normal: #b9bbbe;
    --interactive-hover: #dcddde;
    --interactive-active: #c9ced0;
    --interactive-muted: #4f545c;
    --background-primary: #{$color0};
    --background-secondary: adjust(#{$color0}, $lightness: 10%);
    --background-secondary-alt: #17161b;
    --background-tertiary: #101014;
    --background-accent: #4f545c;
    --background-floating: #17161b;
    --modal-background: #101014;
    --channeltextarea-background: #{$color5}22;
    --info-positive-text: #fff;
    --info-warning-text: #fff;
    --info-warning-foreground: #6e6af6;
    --info-danger-text: #fff;
    --info-help-text: #fff;
    --status-warning-text: #000;
    --background-mentioned: #{$color5}2c;
    --background-mentioned-hover: #{$color5}15;
    --background-message-hover: rgba(4, 4, 5, 0.07);
    --scrollbar-auto-thumb: #6e6af6;
    --brand-experiment: #{$color5};
    --brand-experiment-hover: #{$color5}4d;
    --brand-experiment-560: #6e6af6;
    --channels-default: #{$color7}88;
    --selected-indicator: #{$color5};
    --hover-indicator: #ffffff;
    --font: "gg sans";
    --code-font: "Iosevka";
    --boost-bar: none;
}

/* Made By The Commie Axolotl */
