layout {
    focus-ring {
        active-color "{{colors.primary.default.hex}}"
        inactive-color "{{colors.surface_variant.default.hex}}"
    }

    border {
        active-color "{{colors.primary.default.hex}}"
        inactive-color "{{colors.surface_variant.default.hex}}"
    }
}

// overview {
//     backdrop-color "{{colors.primary_container.default.hex}}"
// }
